body {
    font-family: 'Poppins', sans-serif;
     font-family: "Kantumruy Pro", sans-serif;
}
header {
    position: sticky;
    top: 0;
    z-index: 1030;
}
.card-img-top {
    height: 350px;
    object-fit: cover;
    
}
.logo{
    width: 120px;
    height: 50px;
    object-fit: cover;
   
}
.bg-body-tertiary {
    
  
      background: linear-gradient(90deg,#2b71b8cd  ) !important;

}
  .swiper {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .banner{
        height: 400px;
      }

  

  /* កំណត់អក្សរឱ្យនៅពីលើរូបភាព (Overlay) */
  .text-overlay {
    position: absolute;
    top:10%; /* នៅចំកណ្តាលតាមជួរឈរ */
    right:5%; /* នៅចំកណ្តាលតាមជួរដេក */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 50%; /* ទំហំប្រអប់អក្សរ */
    
    
  }
   p{
    color: black;
  }
.nav-link{
  color: #444!important;
}